/* 
    Document   : narclog
    Created on : Apr 16, 2013, 11:07:32 AM
    Author     : rxaaron
    Description: Keeping it simple.
*/

body
{margin:0; padding:0; color:#303030; background:#fafafa; font:76% Verdana,Tahoma,sans-serif;}

/**Top of the page stuff**/
#banner
{width:260px; height:100px; top:10px; left:5px; position:fixed;}

#banner a img
{outline:none; border:none;}

#title
{position:fixed; top:5px; height:45px; left:0px; width:100%; text-align:center;}

/**Menu Bar**/
#menu
{position:fixed; top:120px; left:0px; bottom:0px; width:260px; overflow-y:auto; overflow-x:hidden; background:#e0e0e0; border-right:2px solid #c0c0c0; border-top:2px solid #c0c0c0; text-align:right; border-top-right-radius:15px;}

#menu p
{margin:10px;}

#menu a
{display:block; text-align:right; margin-left:50px; margin-top:10px; padding:5px 18px 5px 20px; color:#606060; background:#eeeeee; font-size:1.5em; font-weight:normal; text-decoration:none; border-top-left-radius:12px; border-bottom-left-radius:12px;}

#menu a:hover 
{color:#303030; background:#ffffff;}

#menu h2
{display:block; text-align:left; margin-top:20px; margin-bottom:10px; margin-right:25px; padding:5px 18px 5px 20px; color:#b40404; background:#eeeeee; font-size:1.8em; font-weight:bold; text-decoration:none; border-top-right-radius:12px; border-bottom-right-radius:12px; border-bottom:3px solid #0404b4; border-top:1px solid #0404b4; border-right:2px solid #0404b4;}

/**Main Area**/
#main
{position:absolute; top:0px; left:265px; right:125px; bottom:0px;}

#main div.storechange
{position:absolute; top:50px; left:50px;}

/**Content Area**/
#content
{position:absolute; display:inline; top:55px; left:0px; right:-2px; bottom:0px; overflow:auto; padding:20px;}

#content table
{border-collapse:collapse; table-layout:fixed;}

#content th
{text-align:center; background-color:#585858; color:#ffffff; border:1px solid #585858;}

#content td
{padding:3px;}

#content tr.odd
{background-color:#f2f2f2;}

#content tr.even
{background-color:#ffffff;}

#content col.listamount
{width:75px;}

#content col.listndc
{width:125px;}

#content col.listform
{width:75px;}

#content col.liststrength
{width:75px;}

#content col.listdrug
{width:400px;}

#content td.taright
{text-align:right;}

#content td.tacenter
{text-align:center;}

#content input.entry
{padding:10px 125px 10px 125px;}

/**Side Bar**/
#sidebar
{position:fixed; top:0px; right:0px; height:100%; width:120px; overflow:auto; background:#e0e0e0; border-left:2px solid #c0c0c0;}

#sidebar p
{display:block; margin:10px;}

#sidebar a
{color:#b40404;}

/**Searching Pages**/

#search
{position:absolute; display:block; left:5px; top:5px; right:5px; height:50px; border-top:1px solid #0404b4; border-left:1px solid #0404b4; border-right:2px solid #0404b4; border-bottom:3px solid #0404b4; border-radius:10px; padding:10px;}

#results
{position:absolute; display:block; padding:5px; left:0px; top:50px; right:0px; bottom:0px; overflow:auto;}

#entry
{position:absolute; display:block; margin:5px; border-top:1px solid #b40404; border-left:1px solid #b40404; border-right:2px solid #b40404; border-bottom:3px solid #b40404; top:85px; left:5px; right:5px; bottom:5px; border-radius:10px; padding:10px;}