/* 
    Document   : narclog
    Created on : Apr 16, 2013, 11:07:32 AM
    Author     : rxaaron
    Description: Keeping it simple.
*/

body
{margin:0; padding:0; color:#303030; background:#fafafa; font:76% Verdana,Tahoma,sans-serif;}

/**Top of the page stuff**/
#banner
{width:260px; height:100px; top:10px; left:5px; position:fixed; animation:bigentrance 1.5s ease-out forwards;}

@keyframes bigentrance{
    from{transform:translateX(-150px) translateY(-50px) scale(0) rotate(0deg);}
    to{transform:translateX(0px) translateY(0px) scale(1) rotate(360deg);}
}

#banner a img
{outline:none; border:none;}

#title
{position:fixed; top:5px; height:45px; left:0px; width:100%; text-align:center; animation:fadeinslow 1s ease forwards;}

@keyframes fadeinslow{
    from{opacity:0;}
    to{opacity:1;}
}

/**Menu Bar**/
#menu
{position:fixed; top:120px; left:0px; bottom:0px; width:260px; overflow-y:auto; overflow-x:hidden; background:#e0e0e0; border-right:2px solid #c0c0c0; border-top:2px solid #c0c0c0; text-align:right; border-top-right-radius:15px; animation:slideup 1.5s ease-out forwards;}

@keyframes slideup{
    from{transform:translateY(1000px);}
    to{transform:translateY(0px);}
}

#menu p
{margin:10px;}

#menu a
{display:block; text-align:right; margin-left:50px; margin-top:10px; padding:5px 18px 5px 20px; color:#606060; background:#eeeeee; font-size:1.5em; font-weight:normal; text-decoration:none; border-top-left-radius:12px; border-bottom-left-radius:12px;}

@keyframes lightSpeedin{
   	0% { transform: translateX(100%) skewX(-30deg); opacity: 0; }
	60% { transform: translateX(-20%) skewX(30deg); opacity: 1; }
	80% { transform: translateX(0%) skewX(-15deg); opacity: 1; }
	100% { transform: translateX(0%) skewX(0deg); opacity: 1; } 
}

#menu a:hover 
{color:#303030; background:#ffffff; animation:pulse .5s linear alternate infinite;}

@keyframes pulse{
    from{background-color:#eeeeee; color:#0404b4;}
    to{background-color:#ffffff; color:#b40404;}
}

#menu h2
{display:block; text-align:left; margin-top:20px; margin-bottom:10px; margin-right:25px; padding:5px 18px 5px 20px; color:#b40404; background:#eeeeee; font-size:1.8em; font-weight:bold; text-decoration:none; border-top-right-radius:12px; border-bottom-right-radius:12px; border-bottom:3px solid #0404b4; border-top:1px solid #0404b4; border-right:2px solid #0404b4; transform:translateX(-260px); animation: slidetotheside 1.5s ease-out forwards;}

@keyframes slidetotheside{
    from{transform:translateX(-260px);}
    to{transform:translateX(0px);}
}

/**Main Area**/
#main
{position:absolute; top:0px; left:265px; right:5px; bottom:0px;}

#main div.storechange
{position:absolute; top:50px; left:50px;}

/**Content Area**/
#content
{position:absolute; display:inline; top:55px; left:0px; right:-2px; bottom:0px; overflow:auto; padding:20px;}

table
{border-collapse:collapse; table-layout:fixed;}

th
{text-align:center; background-color:#585858; color:#ffffff; border:1px solid #585858;}

td
{padding:3px;}

tr.even
{background-color:#f2f2f2;}

tr.odd
{background-color:#ffffff;}

#content col.listamount
{width:75px;}

#content col.listndc
{width:125px;}

#content col.listform
{width:75px;}

#content col.liststrength
{width:75px;}

#content col.listdrug
{width:400px;}

#content col.drugname
{width:350px;}

#content  col.drugstrength
{width:75px;}

#content col.drugform
{width:100px;}

.taright
{text-align:right;}

.tacenter
{text-align:center;}

#content input.entry
{padding:10px 125px 10px 125px;}

/**Side Bar**/
#sidebar
{position:fixed; top:0px; right:0px; height:100%; width:60px; overflow:auto; background:#e0e0e0; border-left:2px ridge #c0c0c0;}

#sidebar p
{display:block; margin:5px;}

#sidebar a
{color:#b40404;}

/**Searching Pages**/

#search
{position:absolute; display:block; left:5px; top:5px; right:5px; height:50px; border-top:1px solid #0404b4; border-left:1px solid #0404b4; border-right:2px solid #0404b4; border-bottom:3px solid #0404b4; border-radius:10px; padding:10px; transition:height 0.4s ease-out;}

#results
{position:absolute; display:block; padding:5px; left:0px; top:50px; right:0px; bottom:0px; overflow:auto;}

#listdiv
{position:absolute; display:block; left:5px; top:5px; right:5px; height:300px; border-top:1px solid #0404b4; border-left:1px solid #0404b4; border-right:2px solid #0404b4; border-bottom:3px solid #0404b4; border-radius:10px; padding:10px;}

#entry
{position:absolute; display:block; margin:5px; top:85px; left:5px; right:5px; padding:10px; overflow:auto; transition:top 0.5s ease-out;}

#userdiv
{position:absolute; display:block; left:5px; top:335px; right:5px; bottom:5px; margin:5px; padding:10px; overflow:auto;}

#entry p.tacenter
{text-align:center;}

#entry div.tacenter
{text-align:center;}

#timediv
{display:none;}

#transdetail
{padding:5px; margin:5px;}

.drugreceive
{color:#04b404;}

.rphoverride
{color:#ff0000;}

.voided
{text-decoration:line-through;}

.hideme
{display:none;}

a
{color:#b40404;}

#report
{padding:20px;}
